/* common shared styles */
body{
    font-family: 'Open Sans', sans-serif;
    
}

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

} */
/* nav relatded style */
nav{
    display: flex;
    justify-content: space-between;
    
}
nav > ul{
    display: flex;
    text-decoration: none;
    align-items: center;
    
}
nav > ul >li{
    list-style: none;
    margin-right: 50px;
}

nav a{ text-decoration: none;
color: #474747;}

.nav-title{
    color: #181818);
font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
background: #FD6E0A;

border:0;
color: white;
font-size: 20px;
font-weight: 700px;
padding: 15px 35px;
}